{% extends "../base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="row">
      <p><h2>{{ product.name }}</h2></p>
    </div>
    <div class="container">
      <duv class="row">
        <div class="col">
          <img src= "{{ product.image.url }}" alt="">
        </div>
        <div class="col">
          <p>  Category: <a href = "{{ product.category_id.get_absolute_url}}"> {{ product.category_id.name }} </a>
          <p>Description</p>
          <p>{{ product.desc }}</p>
          <p>Price: {{ product.price }}</p>
          <p><button class="btn btn-outline-secondary" type="button">Add to Cart</button></p>
        </div>
      </div>
    </div>
</div>

    
{% endblock %}