{% extends "../base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Cart Summary{% endblock %}
{% block content %}

<div class="container my-5">

  <div class="row g-5">
    <div class="col-md">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">
          <h2>Your Cart</h2>
        </span>
        <!--CART QUANTITY -->
        <span class="badge bg-primary rounded-pill">

          {% with total_qty=cart|length %}
          <div id="cart_quanty" class="d-inline-flex">

            {% if total_qty > 0 %}
            Total Items: {{ total_qty }}
            {% else %}
            0
            {% endif %}
          </div>
          {% endwith %}
        </span>
      </h4>
      <!--END OF CART QUANTITY -->

      <!-- TABLE -->
      <table class="table text-right">
        <thead>
          <tr>
            <th scope="col" class="">No</th>
            <th scope="col" class="text-start">Name</th>
            <th scope="col" class="text-center">Image</th>
            <th scope="col" class="">Price</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-center">Delete</th>
            <th scope="col" class="text-end">Total(VND)</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
          <div>
            <tr class="cart-items align-middle" data-index="{{item.product.id}}">
              <th scope="row" class=""> {{ forloop.counter }} </th>
              <td>
                {{ item.product.name }}<br>
                <a href="{{ item.product.get_absolute_url }}">View more </a>

              </td>
              <td class="text-center">
                <img class="img-thumbnail" src={{ item.product.image.url }} style="width:auto ; height:100px">
              </td>
              <td>{{ item.price }} VND</td>
              <td class="text-center">
                <!-- QUANTITY BUTTON-->



                <!-- ITEM INCREASE BUTTON-->

                <button data-index="{{item.product.id}}" class="item-increase-button btn btn-none" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-up" viewBox="0 0 16 16">
                    <path
                      d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z" />
                  </svg>
                </button>
                <!-- quantity data -->
                <span class="item-quantity" data-index="{{item.qty}}"> {{ item.qty }} </span>
                <!-- ITEM DECREASE BUTTON-->
                <button data-index="{{item.product.id}}" class="item-decrease-button btn btn-none" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-down" viewBox="0 0 16 16">
                    <path
                      d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                  </svg>
                </button>

                <!-- END OF QUANTITY BUTTON-->

                <!-- DELETE BUTTON-->
              <td class="text-center">
                <button id="delete-button" data-index="{{item.product.id}}"
                  class="delete-button btn btn-outline-none mx-1" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg>
                </button>
              </td>
              <!-- END OF DELETE BUTTON-->
              <!-- PRICE-->
              </td>
              <td class="text-end">
                {{ item.total_price }} VND
              </td>
              <!-- END OF PRICE -->
            </tr>

          </div>
          {% endfor %}
          <tr>
          </tr>
        </tbody>
        <tfoot>
          {% comment %} <tr>
            <td colspan="6">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </td>
          </tr> {% endcomment %}

          <!-- TOTAL ROW -->
          <tr>
            <td colspan="6">
              <b>Total (VND)</b>
            </td>
            <td class="text-end">
              <strong>{{ cart.get_total_price }} VND</strong>
            </td>
          </tr>
          <!-- END OF TOTAL ROW-->
        </tfoot>

      </table>
      <script>
        $(document).on('click', '.delete-button', function (e) {
          e.preventDefault();
          var proid = $(this).data('index');

          $.ajax({
            type: 'POST',
            url: '{% url "cart:cart_delete" %}',
            data: {
              productid: $(this).data('index'),
              csrfmiddlewaretoken: "{{csrf_token}}",
              action: 'delete',
            },

            success: function (json) {
              console.log(proid)
              $('.cart-items[data-index="' + proid + '"]').remove();
              location.reload();
              document.getElementById("cart_quanty").innerHTML = json.qty;
            },
            error: function (xhr, errmsg, err) {}
          })
        })


        $(document).on('click', '.item-increase-button', function (e) {
          e.preventDefault();
          var proid = $(this).data('index');

          $.ajax({
            type: 'POST',
            url: '{% url "cart:item_increase" %}',
            data: {
              productid: $(this).data('index'),
              productqty: $('.item-quantity').data('index'),
              csrfmiddlewaretoken: "{{csrf_token}}",
              action: 'item_increase',
            },

            success: function (json) {
              console.log(proid)
              $('.cart-items[data-index="' + proid + '"]').remove();
              document.getElementById("cart_quanty").innerHTML = json.qty;

              location.reload();

            },
            error: function (xhr, errmsg, err) {}
          })
        })


        $(document).on('click', '.item-decrease-button', function (e) {
          e.preventDefault();
          var proid = $(this).data('index');

          $.ajax({
            type: 'POST',
            url: '{% url "cart:item_decrease" %}',
            data: {
              productid: $(this).data('index'),
              productqty: $('.item-quantity').data('index'),
              csrfmiddlewaretoken: "{{csrf_token}}",
              action: 'item_decrease',
            },

            success: function (json) {
              console.log(proid)
              $('.cart-items[data-index="' + proid + '"]').remove();
              document.getElementById("cart_quanty").innerHTML = json.qty;

              location.reload();

            },
            error: function (xhr, errmsg, err) {}
          })
        })
      </script>

    </div>
  </div>
</div>



{% endblock %}