{% extends "./base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="row">
    {% for product in products %}
    <div class="border container col-4 border-primary">
                <!-- Left Column / Headphones Image -->
            <div class="left-column">
                <img data-image="red" class="active" src="{{ product.image.url }}" style="width:200px; height:auto">
            </div>

            <!-- Right Column -->
            <div class="p-2 border right-column">

                <!-- Product Description -->
                <div class="product-description">
                    <span>{{ product.category }}</span>
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.desc }}</p>
                </div>

                <!-- Product Configuration -->
                <div class="product-configuration">

                    <!-- Product Pricing -->
                    <div class="product-price">
                        <span>{{ product.price }}VND</span>
                        <a href="#" class="cart-btn">Add to cart</a>
                    </div>
                </div>
            </div>
       
    </div>
</div>
{% endfor %}
{% endblock %}